body {
	margin: 0;
	margin-top: 20px;
	margin-left: 20px;
	padding: 0;
	font-family: sans-serif;
	color: #304141;
}

.graphContainer {
	display: flex;
	align-items: end;
	height: '50px';
}

.yAxis {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.xAxis {
	display: flex;
	justify-content: space-between;
}

.bar {
	background-color: #1BC2BD;
	top: 0px;
	width: 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	cursor: pointer;
}

.selected {
	background-color: #0F5A5A;
}

.bar:hover {
	background-color: #84bebe;
}

.table {
	border-collapse: collapse;
}

.table tr {
	padding: 3px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table th {
	text-align: left
}

.flagged {
	background-color: #f1b077;
}